html {
  /*Reset para Rems - 62.5% = 10px DE 160px*/
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html a {
  text-decoration: none;
  color: black;
}

html .progress-container {
  position: fixed;
  width: 100%;
  height: .5rem;
  background: #e7e9e9;
  /* The progress bar (scroll indicator) */
}

html .progress-container .progress-bar {
  height: .5rem;
  background: #186839;
  width: 0%;
}

html .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 6%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e7e9e9;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

html .header .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .header .logo-container .starbucks-logo {
  max-width: 8rem;
}

html .header .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

html .header .search-container .input {
  height: 3.5rem;
  width: 90%;
  font-size: 1.6rem;
  padding-left: 1rem;
  border: solid .2rem;
  border-radius: 1rem 0 0 1rem;
}

html .header .search-container .search-icon {
  max-width: 3.5rem;
  padding: 0 .5rem;
  border-top: solid .2rem;
  border-bottom: solid .2rem;
  border-right: solid .2rem;
  border-radius: 0 1rem 1rem 0;
}

html .header .search-container .search-icon:hover {
  cursor: pointer;
}

html .header .location-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 13rem;
}

html .header .location-container .location-icon {
  max-width: 4rem;
}

html .header .location-container .location-p {
  font-size: 1.5rem;
  text-align: center;
}

html .header .location-container:hover {
  cursor: pointer;
}

html .header .btn {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  color: white;
  background-color: #186839;
}

html .header .btn:hover {
  background-color: #6a0336;
  cursor: pointer;
}

html .header .carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .header .carrito .coffee-icon {
  max-width: 5rem;
}

html .header .carrito .number {
  font-size: 3rem;
}

html .header .carrito:hover {
  cursor: pointer;
}

html .nav-header {
  background-color: #e7e9e9;
  padding: 0 6%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

html .nav-header ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

html .nav-header ul .item-nav {
  font-size: 2.5rem;
  padding: 1rem 4.5rem;
}

html .nav-header ul .item-nav:hover {
  cursor: pointer;
  background-color: #131313;
  color: white;
}

html .separador {
  width: 100%;
  height: 5rem;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

html .main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10rem 6%;
  margin-top: 3rem;
  background-color: #004b3d;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html .main-section .image-main-section {
  width: 60rem;
}

html .main-section .h2-main-section {
  font-size: 5rem;
  margin-left: 2rem;
  line-height: 7rem;
  color: white;
}

html .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  background-color: #e7e9e9;
  padding: 2rem 6%;
}

html .social-media .icon-social-media {
  width: 5rem;
  margin-right: 7rem;
}

html .social-media .icon-social-media:hover {
  cursor: pointer;
}

html .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: .5rem;
  background-color: #e7e9e9;
  padding: 2rem 6%;
}

html .footer .menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5rem;
}

html .footer .menu-footer .footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .footer .menu-footer .footer-items .footer-item-heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

html .footer .menu-footer .footer-items .footer-item {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  font-weight: 700;
  color: #4b4b4b;
}

html .footer .menu-footer .footer-items .footer-item:hover {
  color: black;
}

html .footer .menu-footer .starbucks {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  justify-self: flex-end;
  margin: 0;
  text-align: center;
}

html .footer .submenu-footer {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

html .footer .submenu-footer .item-submenu-footer {
  border-right: solid .1rem;
  padding: 0 2rem;
}

html .footer .submenu-footer .item-submenu-footer:hover {
  text-decoration: underline;
}

html .footer .submenu-footer :last-child {
  border: none;
}

html .footer .submenu-footer :first-child {
  padding-left: 0;
}

html .footer .rights-footer {
  font-size: 1.4rem;
  font-weight: 700;
  color: #666666;
}
/*# sourceMappingURL=style.css.map */