html {
  /*Reset para Rems - 62.5% = 10px DE 160px*/
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html a {
  text-decoration: none;
  color: black;
}

html .progress-container {
  position: fixed;
  width: 100%;
  height: .5rem;
  background: #e7e9e9;
  /* The progress bar (scroll indicator) */
}

html .progress-container .progress-bar {
  height: .5rem;
  background: #186839;
  width: 0%;
}

html .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 6% 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e7e9e9;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

html .header .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .header .logo-container .starbucks-logo {
  max-width: 8rem;
}

html .header .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

html .header .search-container .input {
  height: 3.5rem;
  width: 90%;
  font-size: 1.6rem;
  padding-left: 1rem;
  border: solid .2rem;
  border-radius: 1rem 0 0 1rem;
}

html .header .search-container .search-icon {
  max-width: 3.5rem;
  padding: 0 .5rem;
  border-top: solid .2rem;
  border-bottom: solid .2rem;
  border-right: solid .2rem;
  border-radius: 0 1rem 1rem 0;
}

html .header .search-container .search-icon:hover {
  cursor: pointer;
}

html .header .location-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 13rem;
}

html .header .location-container .location-icon {
  max-width: 4rem;
}

html .header .location-container .location-p {
  font-size: 1.5rem;
  text-align: center;
}

html .header .location-container:hover {
  cursor: pointer;
}

html .header .btn {
  font-size: 1.5rem;
  padding: .8rem 1.3rem;
  border-radius: 1rem;
  color: white;
  background-color: #186839;
}

html .header .btn:hover {
  background-color: #6a0336;
  cursor: pointer;
}

html .header .carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .header .carrito .coffee-icon {
  max-width: 5rem;
}

html .header .carrito .number {
  font-size: 3rem;
}

html .header .carrito:hover {
  cursor: pointer;
}

html .nav-header {
  background-color: #e7e9e9;
  padding: 0 6%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

html .nav-header ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

html .nav-header ul .item-nav {
  font-size: 2.2rem;
  padding: 1rem 3.5rem;
}

html .nav-header ul .item-nav:hover {
  cursor: pointer;
  background-color: #131313;
  color: white;
}

html .separador {
  width: 100%;
  height: 5rem;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

html .main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10rem 6%;
  margin-top: 3rem;
  background-color: #004b3d;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html .main-section .image-main-section {
  width: 60rem;
}

html .main-section .h2-main-section {
  font-size: 5rem;
  margin-left: 2rem;
  line-height: 7rem;
  color: white;
}

html .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  background-color: #e7e9e9;
  padding: 2rem 6%;
}

html .social-media .icon-social-media {
  width: 5rem;
  margin-right: 7rem;
}

html .social-media .icon-social-media:hover {
  cursor: pointer;
}

html .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: .5rem;
  background-color: #e7e9e9;
  padding: 2rem 6%;
}

html .footer .menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5rem;
}

html .footer .menu-footer .footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .footer .menu-footer .footer-items .footer-item-heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

html .footer .menu-footer .footer-items .footer-item {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  font-weight: 700;
  color: #4b4b4b;
}

html .footer .menu-footer .footer-items .footer-item:hover {
  color: black;
}

html .footer .menu-footer .starbucks {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  justify-self: flex-end;
  margin: 0;
  text-align: center;
}

html .footer .submenu-footer {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

html .footer .submenu-footer .item-submenu-footer {
  border-right: solid .1rem;
  padding: 0 2rem;
}

html .footer .submenu-footer .item-submenu-footer:hover {
  text-decoration: underline;
}

html .footer .submenu-footer :last-child {
  border: none;
}

html .footer .submenu-footer :first-child {
  padding-left: 0;
}

html .footer .rights-footer {
  font-size: 1.4rem;
  font-weight: 700;
  color: #666666;
}

html .our-coffee-section {
  padding: 0 6%;
  margin-top: 3rem;
  background-image: url("../assets/since.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 62rem;
}

html .our-coffee-section .our-coffee-section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

html .our-coffee-section .our-coffee-section-content .h2-our-coffee-section {
  color: white;
  font-size: 5rem;
  font-weight: 900;
  margin: 5.5rem 0 3rem 0;
}

html .our-coffee-section .our-coffee-section-content .p-our-coffee-section {
  margin-top: 0;
  font-size: 2.4rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.863);
  padding: 2rem;
  border-radius: 1rem;
}

html .our-coffee-section .our-coffee-section-content .btn-mas-info {
  border-radius: .5rem;
  padding: 1rem 1.5rem;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 500;
}

html .our-coffee-section .our-coffee-section-content .btn-mas-info:hover {
  color: white;
  background-color: #186839;
}

html .coffee-finder {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 6%;
}

html .coffee-finder .coffee-finder-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

html .coffee-finder .coffee-finder-content .h2-coffee-finder {
  font-size: 4rem;
}

html .coffee-finder .coffee-finder-content .p-coffee-finder {
  font-size: 2.5rem;
  width: 80%;
}

html .coffee-finder a {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}

html .coffee-finder .coffee-finder-image {
  width: 40%;
}

html .menu {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 6%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .menu .h1-menu {
  font-size: 3.5rem;
}

html .menu .p-menu {
  font-size: 2rem;
}

html .menu .img-menu {
  width: 60%;
}

html .menu .pie-foto-menu {
  width: 60%;
  font-size: 1.2rem;
}

html .menu .h3-menu {
  font-size: 2rem;
}

html .menu a {
  margin-top: 3rem;
  font-size: 2.5rem;
  font-weight: 700;
}

html .menu .p-bebidas {
  width: 25rem;
  font-size: 1.5rem;
}

html .mt-3 {
  margin-top: 3rem;
}

html .about-us {
  margin: 3rem 0;
  padding: 0 6%;
  width: 60%;
}

html .about-us h1 {
  font-size: 3rem;
}

html .about-us p {
  font-size: 1.3rem;
  line-height: 2rem;
  margin: 0;
}

html .about-us .p-fuerte {
  font-weight: 900;
  font-size: 1.6rem;
}

html .about-us h4 {
  font-size: 2rem;
  font-weight: 400;
}

html .about-us h2 {
  margin: 1.5rem 0 0 0;
  font-size: 2rem;
}

html .about-us .p-con-sangria {
  margin: 0 0 0 1.5rem;
}

html .about-us .descargar {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .about-us .descargar img {
  width: 1.5rem;
  margin-right: .5rem;
}

html .about-us .descargar:hover {
  cursor: pointer;
}

html .drinks {
  margin: 3rem 0 7rem;
  padding: 0 6%;
}

html .drinks h1 {
  font-size: 4rem;
}

html .drinks .drinks-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
}

html .drinks .drinks-content .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

html .drinks .drinks-content .column .drink-title {
  font-size: 3rem;
  padding: .2rem .2rem;
  font-weight: 700;
  color: green;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

html .drinks .drinks-content .column .drink-title:hover {
  cursor: pointer;
  background-color: green;
  color: white;
}

html .drinks .drinks-content .column .drink-description {
  font-size: 1.5rem;
  margin: 0 0 3rem;
}

html .drinks-category {
  margin: 3rem 0 6rem;
  padding: 0 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html .drinks-category .category-title {
  font-size: 4rem;
  font-weight: 700;
}

html .drinks-category .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html .drinks-category .card-content .card {
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
  border: solid 0.1rem #747474;
  border-radius: 2rem 2rem 1rem 1rem;
  margin-bottom: 2rem;
}

html .drinks-category .card-content .card .img-category {
  width: 100%;
  height: 30rem;
  border-radius: 2rem 2rem 0 0;
}

html .drinks-category .card-content .card .description {
  font-size: 2rem;
  margin: 1rem 0rem;
  margin-left: 1.5rem;
}

html .drinks-category .card-content .card .rating-bar {
  height: 2rem;
  padding: 0;
  margin-left: 1.5rem;
}

html .drinks-category .card-content .card .rating-bar .star {
  font-size: 2rem;
  margin: 0;
}

html .drinks-category .card-content .card .checked {
  color: orange;
}

html .drinks-category .card-content .card .precio {
  font-size: 2rem;
  margin: 1rem 0 1rem 1.5rem;
}

html .drinks-category .card-content .card .btn-buy {
  width: calc(100% - .35rem);
  color: white;
  background-color: #186839;
  padding: 1rem 0rem;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  border: solid 0.2rem #186839;
}

html .drinks-category .card-content .card .btn-buy:hover {
  background-color: white;
  color: #186839;
}

html .drinks-category .card-content .card .wine {
  background-color: #6a0336;
  border: solid 0.2rem #6a0336;
  margin-bottom: 0;
  border-radius: 0 0 1rem 1rem;
}

html .drinks-category .card-content .card .wine:hover {
  color: #6a0336;
}
/*# sourceMappingURL=style.css.map */