$gray: hsl(184, 6%, 91%);
$green: hsl(145, 63%, 25%);
$white: white;
$wine: rgb(106, 3, 54);
html {
    a {
        text-decoration: none;
        color: black;
    }
    .progress-container {
        position: fixed;
        width: 100%;
        height: .5rem;
        background: $gray;
        /* The progress bar (scroll indicator) */
        .progress-bar {
            height: .5rem;
            background: $green;
            width: 0%;
        }
    }
    /*Reset para Rems - 62.5% = 10px DE 160px*/
    font-size: 62.5%;
    box-sizing: border-box;
    .header {
        display: flex;
        padding: 3rem 6%;
        align-items: center;
        justify-content: space-between;
        background-color: $gray;
        height: fit-content;
        .logo-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            .starbucks-logo {
                max-width: 8rem;
            }
        }
        .search-container {
            display: flex;
            width: 40%;
            .input {
                height: 3.5rem;
                width: 90%;
                font-size: 1.6rem;
                padding-left: 1rem;
                border: solid .2rem;
                border-radius: 1rem 0 0 1rem;
            }
            .search-icon {
                max-width: 3.5rem;
                padding: 0 .5rem;
                border-top: solid .2rem;
                border-bottom: solid .2rem;
                border-right: solid .2rem;
                border-radius: 0 1rem 1rem 0;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .location-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 13rem;
            .location-icon {
                max-width: 4rem;
            }
            .location-p {
                font-size: 1.5rem;
                text-align: center;
            }
            &:hover {
                cursor: pointer;
            }
        }

        .btn{
            font-size: 1.7rem;
            padding: 1rem 1.5rem;
            border-radius: 1rem;
            color: $white;
            background-color: $green;

            &:hover{
            background-color: $wine;
            cursor: pointer;
            }
        }

        .carrito {
            display: flex;
            .coffee-icon {
                max-width: 5rem;
            }
            .number {
                font-size: 3rem;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    .nav-header {
        background-color: $gray;
        padding: 0 6%;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        height: fit-content;
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            width: 50%;
            align-content: flex-end;
            .item-nav {
                font-size: 2.5rem;
                padding: 1rem 4.5rem;
                &:hover {
                    cursor: pointer;
                    background-color: rgb(19, 19, 19);
                    color: $white;
                }
            }
        }
    }
    .separador {
        width: 100%;
        height: 5rem;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
    }

    .main-section{
        display: flex;
        padding: 10rem 6%;
        margin-top: 3rem;
        background-color: rgb(0, 75, 61);
        justify-content: space-around;

        .image-main-section{
            width: 60rem;
        }

        .h2-main-section{
            font-size: 5rem;
            margin-left: 2rem;
            line-height: 7rem;
            color: $white;
        }
    }

    .social-media{
        display: flex;
        margin-top: 3rem;
        background-color: $gray;
        padding: 2rem 6%;

        .icon-social-media{
            width: 5rem;
            margin-right: 7rem;

            &:hover{
                cursor: pointer;
            }
        }
    }

    .footer{
        display: flex;
        flex-direction: column;
        margin-top: .5rem;
        background-color: $gray;
        padding: 2rem 6%;
        .menu-footer{
            display: flex;
            justify-content: space-between;
            margin-top: 5rem;

            .footer-items{
                display: flex;
                flex-direction: column;

                .footer-item-heading{
                    font-size: 2rem;
                    font-weight: 700;
                    margin-bottom: 1.5rem;
                }
                
                .footer-item{
                    font-size: 1.5rem;
                    margin-bottom: 2.5rem;
                    font-weight: 700;
                    color: rgb(75, 75, 75);

                    &:hover{
                        color: rgb(0, 0, 0);
                    }

                }
            }

            .starbucks{
                transform: rotate(270deg);
                width: fit-content;
                height: fit-content;
                align-items: flex-end;
                justify-self: flex-end;
                margin: 0;
                text-align: center;
            }
        }

        .submenu-footer{
            font-size: 1.5rem;
            margin-bottom: 2rem;

            .item-submenu-footer{
                
                border-right: solid .1rem;
                padding: 0 2rem;

                &:hover{
                    text-decoration: underline;
                }
            }

            :last-child{
                border: none;
            }

            :first-child{
                padding-left: 0;
            }
        }

        .rights-footer{
            font-size: 1.4rem;
            font-weight: 700;
            color: rgb(102, 102, 102);
        }
    }
}